<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/catalogue">
    <ion-nav-view name="catalogue"></ion-nav-view>
  </ion-tab>

  <!-- Cart Tab -->
  <ion-tab title="Cart" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/cart">
    <ion-nav-view name="cart"></ion-nav-view>
  </ion-tab>

  <!-- History Tab -->
  <ion-tab title="History" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/tab/history">
    <ion-nav-view name="history"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" href="#/tab/profile">
    <ion-nav-view name="profile"></ion-nav-view>
  </ion-tab>


</ion-tabs>
