<ion-view view-title="Profile">
  <ion-content class="padding aligner" id="profile">
    <div class="row">
      <span class="col col-35"></span>
      <span class="col col-30 ion-social-angular profile-pic"></span>
      <span class="col col-35"></span>
    </div>
    <ion-list class="aligner-item">
      <!-- <div class="row"> -->
      <div class="list list-inset profile-info">

        <div class="item">
          <div class="row">
            <div class="col col-50 ">
              <h2>
                username
              </h2>
            </div>
            <div class="col col-50 ">
              <h2>
                ahsan321
              </h2>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col col-50 ">
              <h2>
                password
              </h2>
            </div>
            <div class="col col-50 ">
              <h2>
                ******
              </h2>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col col-50 ">
              <h2>
                email
              </h2>
            </div>
            <div class="col col-50 ">
              <h2>
                someone@example.com
              </h2>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col col-50 ">
              <h2>
                address
              </h2>
            </div>
            <div class="col col-50 ">
              <h2>
                c4 block 20
              </h2>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col col-50 ">
              <h2>
                phone
              </h2>
            </div>
            <div class="col col-50 ">
              <h2>
                090078601
              </h2>
            </div>
          </div>
        </div>

      </div>
      <!-- </div> -->
      <div class="row">
        <!-- <span class="col col-35"></span> -->
        <button class=" button button-block button-assertive" ng-click=vm.logout(user)>
          logout
        </button>
        <!-- <span class="col col-35"></span> -->
      </div>
    </ion-list>
  </ion-content>
</ion-view>
